.header-bg {
    max-width: 1440px;
    width: 100%;
    background-color: rgb(37, 37, 37);
  }
.main-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 130px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }
  .header-a {
    font-size: 30px;
    font-weight: 400;
    font-style: bold;
    color: white;
    margin-left: 12px;
    font-family: "Open Sans", sans-serif;
  }
  .text-nav {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ul-item {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .ul-text {
    color: white;
    font-weight: 200;
    font-size: 18px;
    vertical-align: middle;
    padding-right: 50px;
  }
  .text-last {
    padding-right: none;
  }
  .ul-text a {
    color: white;
  }
  .blue-text{
    color: rgb(28, 151, 204);
  }
  .ul-text:nth-child(4) {
    margin-right: 12px;
  }
  .ul-text:nth-child(2),
  .ul-text:nth-child(3) {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* header end */
  .main-img {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .second-bg {
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 130px;
  }
  .second-bg h3{
    font-size: 50px;
    color: rgb(243, 233, 233);
    padding-top: 100px;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    
  }
  .second-bg h4{
      font-size: 35px;
      color: white;
      padding-top: 20px;
      padding-left: 10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 900;
    }
    /* section one end */
.section-text{
    width: 100%;
    background-color: rgb(41, 40, 40);
    }
    
.section-two{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: start;
    padding: 40px 130px 0 130px;
    line-height: 40px;
    }
.more {
    color: rgb(60, 211, 238);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 40px 130px;
 }
.more:hover {
    color: gray;
    transition: .3s;
    }    
/* end section two */
