.header-bg {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
  }
.main-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 130px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }
  .header-a {
    font-size: 30px;
    font-weight: 400;
    font-style: bold;
    color: white;
    margin-left: 12px;
    font-family: "Open Sans", sans-serif;
  }
  .text-nav {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ul-item {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .ul-text {
    color: white;
    font-weight: 200;
    font-size: 18px;
    vertical-align: middle;
    padding-right: 50px;
  }
  .text-last {
    padding-right: none;
  }
  .ul-text a {
    color: white;
  }
  .blue-text{
    color: rgb(28, 151, 204);
  }
  .ul-text:nth-child(4) {
    margin-right: 12px;
  }
  .ul-text:nth-child(2),
  .ul-text:nth-child(3) {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* header end */
  .main-img {
    background-image: url('../photo/background.webp'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    width: 100%;
    height: 60vh; 
    z-index: 1;
    background-color: rgb(41, 40, 40); 
}
  .second-bg {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 130px;
  }
  .second-bg h3{
    font-size: 40px;
    color: rgb(243, 233, 233);
    padding-top: 100px;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    
  }
  .second-bg h4{
      font-size: 35px;
      color: white;
      padding-top: 20px;
      padding-left: 10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 900;
    }
    /* section one end */
.section-text{
    width: 100%;
    background-color: rgb(41, 40, 40);
    }
    
.section-two{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: start;
    padding: 40px 130px 0 130px;
    line-height: 40px;
    }
.more {
    color: rgb(60, 211, 238);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 40px 130px;
 }
.more:hover {
    color: gray;
    transition: .3s;
    }    
/* end section two */
.section-grid{
    background-color: rgb(24, 23, 23);
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin:  0 auto;
    display: grid;
    /* grid-template-columns: 310px 310px 310px; 
    grid-template-rows: 400px 400px 400px; */
    row-gap: 20px;
    column-gap: 40px;
    padding:  30px 130px 50px 130px;   
  }
.section-grid h3{
  font-size: 28px;
  color: rgb(180, 155, 155);
  font-family: "Open Sans", sans-serif;
  padding-top: 45px;
  padding-bottom: 65px;
  padding-left: 130px;
}
  .grid-item {
    height: auto;
    border-radius: 7px;
    border: 1px solid rgba(240, 236, 236, 0.8);
    border-radius: 10px;
    font-size: 20px;    
  }
  .grid-item img {
    width: 100%;
    object-fit: fit;
  }
  .grid-item h4{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    padding: 30px 0 30px 20px;
}
  .grid-item p {
    font-size: 16px;
    color: white;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
 
  }
  .grid-div {
    padding: 60px 0 30px 20px;
  }
  .grid-item a{
    font-size: 16px;
    color:  rgb(60, 211, 238);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .grid-item a:hover{
    color:  rgb(39, 145, 163);
  }
  .fa-arrow-right {
    padding-right: 10px;
} 
/* end grid section */
.slider{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(58, 57, 57);
}

.mySlide img:nth-child(2){
  padding-right: 90px;
  padding-left: 90px;
}
.mySlide img:nth-child(1){
  padding-left: 10px;
}
.mySlide img:nth-child(3){
 align-items: center;
}
.ufcslid{
  margin-left: 400px;
}
.slider h2{
  color: white;
  font-size: 30px;
  font-family: "BPG Algeti", sans-serif;
  padding-top: 30px;
  margin-left: 130px;
  margin-bottom: 50px;
}
.slidershow-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px;
}
.fade-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mySlide {
  display: none;

}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: 0 auto;
  padding: 1px;
  color: white;
  font-size: 61px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}
.prev {
  margin-left: 20px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: #717171;
}
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 50px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* finished slider */

.accordion-container {
  width: 100%;
  height: auto;
  background-color: rgb(37, 37, 37);
  padding: 80px 150px;
}
.titel-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
}
.container {
  width: 100%;
  border-bottom: 0.5px solid #646060;
  margin-bottom: 50px;
  position: relative;
  /* padding: 5px 0; */
  background-color: rgb(37, 37, 37);
}
.accordion-title::before {
  content: "⌄";
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
}
.acordion-text {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s;
  color: white;
}
.container.active .acordion-text {
  height: auto;
}
.container.active .accordion-title::before {
  transform: translateY(-50%) rotate(180deg);
}
.accor-div {
  width: 100%;
  background-color: rgb(37, 37, 37);
}
.accor-div h3{
  color: white;
  font-size: 22px; 
  /* padding: 20px; */
  display: flex;
}
.accor-div a{
  font-size: 22px; 
  color:  rgb(39, 145, 163);
}

.accordion-title{
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  color: white;
  cursor: pointer;
}
.acordion-text h4{
  font-size: 15px;
  padding-bottom: 20px;
  
}
.acordion-text p{
  font-size: 16px;
  padding-left: 30px;
  line-height: 25px;
  margin-left: -30px;
}
.text-last{
  margin-left: -20px;
}